<table>
  <thead>
  <tr>
    <th>Fisrt Name</th>
    <th>Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  <tr>
    <td>Sergio</td>
    <td>Vazquez</td>
  </tr>
  </tbody>
</table>
