<div class="ed-container ed-item full">
  <div class="ed-container ed-item full left-panel">
    <img src="../assets/logo.svg" class="ed-item" alt="">
    <ul class="ed-container ed-item full">
      <li class="ed-item full active">Users</li>
    </ul>
  </div>
  <div class="ed-container ed-item right-panel full">
    <div class="ed-container ed-item full">
      <div class="ed-item ed-container  s-100 title full">
        <div class="ed-item s-100">
          Title
        </div>
      </div>
      <div class="ed-item ed-container s-100 content full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
