<div class="ed-container ed-item full">
  <textarea [(ngModel)]="textParams">

  </textarea>
  <input type="button" (click)="parseParams()" value="Cargar">
  <hr>
  <ul>
    <li *ngFor="let p of params.getValue(); let i=index">
      <span>{{p.name}}:</span>
      <input step="0.01" type="range" value="{{p.min}}" name="{{p.name}}" min="{{p.min}}" max="{{p.max}}" [(ngModel)]="values[i]">
      <input type="text" value="{{values[i]}}" [(ngModel)]="values[i]">
    </li>
  </ul>
  <input type="button" (click)="evaluate()" value="Evaluar">
</div>
